@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica'), url('../fonts/Helvetica.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica Light';
  src: url('../fonts/Helvetica-Light.woff2') format('woff2'),
      url('../fonts/Helvetica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Oblique'), url('../fonts/Helvetica-Oblique.woff') format('woff');
}
@font-face {
font-family: 'Helvetica Compressed';
font-style: normal;
font-weight: normal;
src: local('Helvetica Compressed'), url('../fonts/helvetica-compressed.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica Rounded Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Rounded Bold'), url('../fonts/helvetica-rounded-bold.woff') format('woff');
}  
@font-face {
  font-family: 'Helvetica Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica'), url('../fonts/Helvetica-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica Bold Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Bold Oblique'), url('../fonts/Helvetica-BoldOblique.woff') format('woff');
}
@font-face {
  font-family: 'Arial Rounded MT Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Rounded MT Bold'), url('../fonts/ARLRDBD_0.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
a:hover{
  text-decoration: none;
}
ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.pl-sm-70{
  padding-left: 70px;
}
.pos-rel{
  position: relative;
}
.top-bar{
  background: #06b243;
  width: 100%;
  padding: 20px;
}
#nav-icon {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0px;
}
#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 8px;
}
#nav-icon span:nth-child(4) {
  top: 16px;
}
#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.navbar{
  background: #34d986;
  width: 100%;
  border: none;
  margin: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.navbar-nav{
  width: 100%;
  text-align: center;
}
.navbar-default .navbar-nav > li{
  float: none;
  display: inline-block;
}
.navbar-default .navbar-nav > li > a{
  color: #fff;
  font-size: 16px;
  padding: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Helvetica Light';
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: #40ea95;
  color: #fff;
}
.navbar-default .search{
  position: absolute;
  top: 8px;
}
.navbar-default .search img{
  width: 40px;
}
.graphic-campaign{
  background: url(../images/bg-graphic.png) no-repeat;
  background-size: 100% auto;
  padding: 80px 0 0 0;
}
.graphic-campaign h1, .our-work h2, .blog h4{
  color: #06b243;
  font-size: 40px;
  padding: 260px 0 0 0;
  text-transform: uppercase;
  font-family: 'Arial Rounded MT Bold';
}
.graphic-campaign p{
  color: #aeafae;
  font-size: 18px;
  line-height: 25px;
  padding: 30px 0;
  font-family: 'Helvetica';
}
.graphic-campaign ul{
  width: 100%;
  margin: 0;
  padding: 0 0 70px 0;
  float: left;
}
.graphic-campaign li {
  border-left: 1px solid #34d986;
  padding: 0 20px;
  float: left;
}
.graphic-campaign li:first-child{
  border: none;
  padding-left: 0;
}
.graphic-campaign li a{
  color: #32c77f;
  font-size: 25px;
  line-height: 24px;
  font-family: 'Myriad Pro Regular';
}
.rounded-btn{
  background: #64bd62; /* Old browsers */
  background: -moz-linear-gradient(left,  #64bd62 0%, #27a9c0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #64bd62 0%,#27a9c0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #64bd62 0%,#27a9c0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64bd62', endColorstr='#27a9c0',GradientType=1 ); /* IE6-9 */
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  padding: 10px 35px;
  display: inline-block;
  font-family: 'Helvetica Bold';
}
.rounded-btn:hover{
  color: #fff;
}
.bg-video{
  background: url(../images/bg-transparent.png) repeat;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
}
.bg-video img{
  position: relative;
  top: -20px;
  right: -20px;
}
.animated-circle{
  width: 220px;
  height: 220px;
  border: 7px solid #ececec;
  position: absolute;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  left: -5px;
  bottom: -85px;
  z-index: -1;
}
.animated-circle .circle{
  background: #0b8e36;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: -12px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.our-work{
  width: 100%;
  margin: 100px 0 0 0;
  padding: 40px 0 0 0;
  border-top: 5px solid #f9f9f9;
}
.our-work h2{
  padding: 0;
}
.our-work .rounded-btn{
  margin: 50px 0 0 0;
}
.bg-gradient{
  background: url(../images/bg-gradient.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding: 25px 0 90px 0;
  position: relative;
}
.option{
  background: #fff;
  width: 100%;
  height: 194px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 0;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
  float: left;
}
.option li{
  width: 25%;
  float: left;
}
.option li a{
  padding: 35px 25px;
  text-align: center;
  position: relative;
  display: block;
}
.option li a img{
  height: 90px;
}
.option li a span{
  color: #a3a3a3;
  font-size: 20px;
  padding: 5px 0 0 0;
  display: block;
  font-family: 'Helvetica Light';
}
.option li a:hover{
  background: #fff;
  top: -15px;
  bottom: -15px;
  padding: 50px 25px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
}
.option li a:hover span{
  color: #06b243;
  font-family: 'Helvetica';
}
.option li:first-child a:hover{
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px;
}
.option li:last-child a:hover{
  -moz-border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0 50px 50px 0;
  border-radius: 0 50px 50px 0;
}
.filter-icon{
  margin: 25px 0;
  display: block;
}
.filter-icon img{
  width: 60px;
}
.banner, .video-frame, .project-info{
  border: 2px solid #fff;
  margin: 0 0 20px 0;
  overflow: hidden;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.project-info .carousel-caption{
  background: rgb(100,189,97);
  background: -moz-linear-gradient(left,  rgba(100,189,97,1) 0%, rgba(39,169,193,0.6) 100%);
  background: -webkit-linear-gradient(left,  rgba(100,189,97,1) 0%,rgba(39,169,193,0.6) 100%);
  background: linear-gradient(to right,  rgba(100,189,97,1) 0%,rgba(39,169,193,0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64bd61', endColorstr='#27a9c1',GradientType=1 );
  width: 100%;
  height:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: left;
  padding: 100px 40px 20px 40px;
}
.project-info .carousel-caption h3{
  color: #fff;
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Arial Rounded MT Bold';
}
.project-info .carousel-caption p{
  font-size: 24px;
  padding: 15px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}
#carousel-example-generic  .carousel-indicators{
  width: auto;
  position: absolute;
  z-index: 5;
  right: 15px;
  bottom: -45px;
  margin-left: 0;
  margin-bottom: 0;
  text-align: right;
}
#carousel-example-generic .carousel-indicators li{
  background: #fff;
  width: 15px;
  height: 15px;
}
#carousel-example-generic .carousel-indicators li.active{
  background: #4cfda5;
  border-color: #4cfda5;
}
.blog{
  background: url(../images/blog.png) no-repeat right top;
  width:100%;
  margin: -70px 0 0 0;
  padding: 170px 0 100px 0;
}

.blog h4{
  margin: 0 0 50px 0;
  padding: 0;
}
.cascade-slider_container {
	position: relative;
	height: 500px;
	margin: 0 auto;
}
#similar-cases {
  height: 650px;
}
.cascade-slider_item{
	background:#fff;
  width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%) scale(0.3);
	transition: all 1s ease;
	opacity: 0;
	z-index: -1;
	padding: 50px 50px 30px 50px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.9);
	-moz-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.9);
	box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.9);
}
    
#similar-cases .cascade-slider_slides .cascade-slider_item {
    width: 41%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0.3);
    transition: all 1s ease;
    opacity: 0;
    z-index: -1;      
    text-align: center;
    -webkit-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.9);
    padding:0;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    background: #64bd62;
    /* Old browsers */
    background: -moz-linear-gradient(left, #64bd62 0%, #27a9c0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #64bd62 0%, #27a9c0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #64bd62 0%, #27a9c0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64bd62', endColorstr='#27a9c0', GradientType=1);
    /* IE6-9 */
}
.cascade-slider_item h5{
  color: #06b243;
  font-size: 25px;
  font-weight: 600;
  padding: 25px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}
#similar-cases .cascade-slider_item h5,
#similar-cases .cascade-slider_item p{
  color:#fff;
  padding:10px 30px;
  font-size: 18px;
  line-height: 26px;  
  font-family: Arial, Helvetica, sans-serif;
}
#similar-cases .cascade-slider_item p{
  text-align: left;
}
.arrow-nav img{
  width:30px;
  height:auto;
}

.cascade-slider_item span, .cascade-slider_item p{
  color: #aba6a6;
  font-size: 20px;
  padding-bottom: 15px;
  display: block;
}
.top-footer h4{
color: #06b243;
font-size: 25px;
font-weight: 600;
padding:20px 30px;
text-transform: uppercase;
}
.top-footer p{
  font-size: 30px;
}
.cascade-slider_item.next {
	left: 50%;
	transform: translateY(-50%) translateX(-65%) scale(0.8);
	opacity: 1;
	z-index: 1;
	-webkit-transform: translateY(-50%) translateX(-65%) scale(0.8);
	-moz-transform: translateY(-50%) translateX(-65%) scale(0.8);
	-ms-transform: translateY(-50%) translateX(-65%) scale(0.8);
	-o-transform: translateY(-50%) translateX(-65%) scale(0.8);
}
.cascade-slider_item.prev {
	left: 50%;
	transform: translateY(-50%) translateX(-35%) scale(0.8);
	opacity: 1;
	z-index: 1;
	-webkit-transform: translateY(-50%) translateX(-35%) scale(0.8);
	-moz-transform: translateY(-50%) translateX(-35%) scale(0.8);
	-ms-transform: translateY(-50%) translateX(-35%) scale(0.8);
	-o-transform: translateY(-50%) translateX(-35%) scale(0.8);
}
.cascade-slider_item.now,
#similar-cases .cascade-slider_slides .cascade-slider_item {
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%) scale(1);
	opacity: 1;
	z-index: 5;
}
#similar-cases .cascade-slider_slides .cascade-slider_item.next{
  left: 30%;
  transform: translateY(-50%) translateX(-80%) scale(0.8);
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateY(-50%) translateX(-80%) scale(0.8);
  -moz-transform: translateY(-50%) translateX(-80%) scale(0.8);
  -ms-transform: translateY(-50%) translateX(-80%) scale(0.8);
  -o-transform: translateY(-50%) translateX(-80%) scale(0.8);
}
#similar-cases .cascade-slider_slides .cascade-slider_item.prev{
  left: 76%;
  transform: translateY(-50%) translateX(-35%) scale(0.8);
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateY(-50%) translateX(-35%) scale(0.8);
  -moz-transform: translateY(-50%) translateX(-35%) scale(0.8);
  -ms-transform: translateY(-50%) translateX(-35%) scale(0.8);
  -o-transform: translateY(-50%) translateX(-35%) scale(0.8);
}

.cascade-slider_arrow {
	display: inline-block;
	position: absolute;
	top: 40%;
	cursor: pointer;
	z-index: 5;
}
.cascade-slider_arrow img{
	width:70px;
}
.cascade-slider_arrow-left { left: 187px;; }
.cascade-slider_arrow-right { right: 187px; }